body{
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url("/static/gym/bg.jpg") no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.left{
    /* border: 2px solid red; */
    position: absolute;
    top: 34px;
    left: 100px;
}

.left img {
    
    filter: invert(100%);
}
.mid{
    position:sticky;
    margin: 34px auto;
    /* border: 2px solid green; */
}

.nav li {
    display: inline-flex;
    padding: 2px 6px;
    font-size: 25px;
    list-style-type: none;
}

.nav li a{
    color: grey;
    text-decoration: none;
}

.right{
    position: absolute;
    top: 34px;
    right: 20px;
    /* border: 2px solid yellow; */
}

.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 2px;
    background-color: black;
    border: 2px solid red;
    color: grey;
    border-radius: 10px;
    font-size: 20px;
}

.btn a{
    color: grey;
    text-decoration: none;
}

.btn:hover, .btn a:hover, .nav li a:hover{
    color: white;
}

.containerm{
    position: absolute;
    top: 150px;
    right: 0px;
    border: 2px solid white;
    margin: 128px 153px;
    padding: 23px;
    width: 30%;
    border-radius: 20px;
}
.containerm form {
    text-align: center;
    margin: auto 120px;
}
.containerm h1 {
    text-align: center;
    margin: 0px;
}

.form-group input{
    
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
    text-align: center;
    margin: 2px auto;
    padding: 2px 2px;
    width: 300px;
    border-radius: 10px;
}

.form-group button{
    margin: 2px 0px;
    padding: 2px 2px;
    width: 310px;
}

.alert {
    padding: 20px;
    background-color: green;
    border: 2px solid green;
    border-radius: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
    margin: auto 47px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }