{% extends 'gym/basic.html' %}
{% block title %}About us{% endblock %}
{% block body %}


<div class="imagebox">
    <img src="https://source.unsplash.com/1600x900/?gym,fitnesscenter">
    <img src="https://source.unsplash.com/1600x900/?workout">
    <div>
        <img src="https://source.unsplash.com/1600x900/?gym,fitnesscenter,nuticion">
        <img src="https://source.unsplash.com/1600x900/?gym,fitnesscenter,diet">
    </div>
</div>
<div class="about mid">
    <h1>About us</h1>
    <p>Arcade Fitness is a franchise of 24-hour health and fitness clubs that is headquartered in Woodbury,
        Minnesota, United States. The company operates over 4,000 franchised locations in 50 countries.
        The gym facilities are open 24 hours a day, 365 days of the year.Chuck Runyon, Dave Mortensen, and Jeff Klinger
        founded Arcade Fitness in 2002. Runyon is the CEO of the company. Arcade Fitness was the fastest growing
        health club franchise in 2014.In 2015, Entrepreneur Magazine ranked Arcade Fitness first on its global
        franchise list.</p>
    <h1>History</h1>
    <h2>2002–2004: Background and founding</h2>
    <p>
        Chucky Runyon, Dave Mortensen, and Jeff Klinger first met in the early 1990s while working for a fitness club in
        St. Paul, Minnesota. In 1995, they jointly purchased and ran Southview Athletic Club for seven years. During
        their ownership of the club, its membership rose from 500 to 4000. They sold the gym in 2001. During their
        ownership of Southview Athletic Club, they worked for a consulting firm focused on improving under-performing
        athletic clubs across the United States. They developed the idea for Arcade Fitness after surveying the
        expectations that long-term members of large gyms had for their fitness clubs.
    </p>
</div>


{% endblock %}