{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<link rel="stylesheet" href="{% static 'gym/home.css' %}">
<link rel="stylesheet" href="{% static 'gym/fitnesscalc.css' %}">

<body>
    <div class="container">
        <div class="left">
            <img src="{% static 'gym/logo.jpg' %}" alt="">
            <h1>Arcade Fitness</h1>
        </div>
        <div class="mid">
            <div class="navbar">
                <ul class="nav">
                    <li class="nav"><a href="/home">Home</a></li>
                    <li class="nav"><a href="#">Diet Plans</a></li>
                    <li class="nav"><a href="/home/fitnesscalc/">Fitness Calculator</a></li>
                    <li class="nav"><a href="#">About us</a></li>
                </ul>
            </div>
        </div>
        <div class="right">
            <button class="btn">Register</button>
            <button class="btn">Login</button>
        </div>
    </div>
    {% block body %}{% endblock %}
    
    
</body>
</html>