{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<link rel="stylesheet" href="{% static 'gym/home.css' %}">
<link rel="stylesheet" href="{% static 'gym/fitnesscalc.css' %}">
<link rel="stylesheet" href="{% static 'gym/dietplans.css' %}">
<link rel="stylesheet" href="{% static 'gym/aboutus.css' %}">

{% block js %} {% endblock %}

<body>
    <div class="container">
        <div class="left">
            <img src="{% static 'gym/logo.jpg' %}" alt="">
            <h1>Arcade Fitness</h1>
        </div>
        <div class="mid">
            <div class="navbar">
                <ul class="nav">
                    <li class="nav"><a href="/home">Home</a></li>
                    <li class="nav"><a href="/home/dietplan/">Diet Plans</a></li>
                    <li class="nav"><a href="/home/fitnesscalc/">Fitness Calculator</a></li>
                    <li class="nav"><a href="/home/aboutus/">About us</a></li>
                    {% if user.is_superuser %}
                    <li class="nav"><a href="/home/data/">Data extract</a></li>
                    {% endif %}
                </ul>
            </div>
            {% for message in messages %}
            <!-- Loop for displaying alert messages -->
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        <div class="right">
            {% if user.is_authenticated %}
            <button type="button" class="btn"><a href="/home/logout/">Log Out</a></button>
            {% else %}
            <button class="btn">Register</button>
            <button type="button" class="btn"><a href="/home/login/">Log in</a></button>
            {% endif %}
        </div>
    </div>

    {% block body %}{% endblock %}
</body>

</html>