{% extends 'gym/basic.html' %}
{% block title %}Diet Plans{% endblock %}
{% block js %}
<script>
    function myFunctionwg() {
        document.getElementById("wlframe").style.display = "none";
        document.getElementById("trframe").style.display = "none";
        document.getElementById("wgframe").style.display = "block";
    }
    function myFunctionwl() {
        document.getElementById("wgframe").style.display = "none";
        document.getElementById("trframe").style.display = "none";
        document.getElementById("wlframe").style.display = "block";
    }
    function myFunctionts() {
        document.getElementById("wgframe").style.display = "none";
        document.getElementById("wlframe").style.display = "none";
        document.getElementById("trframe").style.display = "block";
    }
</script>
{% endblock %}
{% block body %}
<div class="containersidenav">
    <div class="sidenavbar">
        <ul class="sidenav">
            <li class="nav"><a href="#" id="wg" onclick="myFunctionwg()">Weight Gain</a></li>
            <li class="nav"><a href="#" id="wl" onclick="myFunctionwl()">Weight Loss</a></li>
            <li class="nav"><a href="#" id="ts" onclick="myFunctionts()">Training Schedule</a></li>
        </ul>
    </div>
</div>
<div class="imagebox">
    <img src="/static/gym/photo1.jpg" alt="">
    <img src="/static/gym/photo2.jpg" alt="">
    <div>
        <img src="/static/gym/photo3.jpg" alt="">
        <img src="/static/gym/photo4.jpg" alt="">
    </div>
</div>
<div id="wgframe">
    <div class="textbox">

    </div>

    <div class="tabledata">
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>3 Scrambled Eggs</td>
                    <td>221</td>
                </tr>
                <tr>
                    <td>3 slices Wheat Toast, buttered</td>
                    <td>497</td>
                </tr>
                <tr>
                    <td>Glass of Orange Juice</td>
                    <td>118</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Banana</td>
                    <td>105</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>100g Chicken Breast (cooked), 2 pieces lean Back Bacon (grilled)</td>
                    <td>303</td>
                </tr>
                <tr>
                    <td>1 Avocado, 80g Mixed Salad Leaves, 50g Tomatoes, Cucumber</td>
                    <td>354</td>
                </tr>
                <tr>
                    <td>Dressing: 1 Tbsp Olive Oil, Vinegar, Seasoning</td>
                    <td>119</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>25g Unsalted Nuts</td>
                    <td>160</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>3 slices Meatloaf (1 inch each)</td>
                    <td>603</td>
                </tr>
                <tr>
                    <td>200g Mashed Potato</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>80g Peas, 2 Carrots</td>
                    <td>112</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>30g Dark Chocolate</td>
                    <td>189</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="wlframe">
    <div class="textbox">

    </div>

    <div class="tabledata">
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Cucumber Detox Water(1 glass)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Oats Porridge in Skimmed Milk(1 bowl)</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>Mixed Nuts</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Skimmed Milk Paneer(100 grams)</td>
                    <td>55</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Mixed Vegetable Salad(1 katori)</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Dal(1 katori)Gajar Matar Sabzi(1 katori)</td>
                    <td>150</td>
                </tr>
                <tr>
                    <td>Roti (1 roti/chapati)</td>
                    <td>20</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Cut Fruits(1 cup)Buttermilk(1 glass)</td>
                    <td>50</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Tea with Less Sugar and Milk(1 teacup)</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Mixed Vegetable Salad(1 katori)</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Dal(1 katori)Lauki Sabzi(1 katori)</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Food Items</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <td>Mixed Vegetable Salad(1 katori)</td>
                    <td>75</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="trframe">
    <div class="textbox">

    </div>

    <div class="tabledata">
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Muscle Group</th>
                    <th>Excercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Rest</th>
                </tr>
                <tr>
                    <td>Chest</td>
                    <td>Incline Dumbbell</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Chest</td>
                    <td>Incline Flys</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Chest</td>
                    <td>Dips</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Triceps</td>
                    <td>Triceps Pushdown</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Muscle Group</th>
                    <th>Excercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Rest</th>
                </tr>
                <tr>
                    <td>Legs</td>
                    <td>Front Squat</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Legs</td>
                    <td>Good Morning</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Legs</td>
                    <td>Seated Calf Raises</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Abs</td>
                    <td>Hanging Crunches</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Abs</td>
                    <td>Cable Crunch</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Muscle Group</th>
                    <th>Excercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Rest</th>
                </tr>
                <tr>
                    <td>Shoulders</td>
                    <td>Military Press</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Shoulders</td>
                    <td>Lateral Raises</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Traps</td>
                    <td>Reverse Flys</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
        <table BORDER=2>
            <tbody>
                <tr>
                    <th>Muscle Group</th>
                    <th>Excercise</th>
                    <th>Sets</th>
                    <th>Reps</th>
                    <th>Rest</th>
                </tr>
                <tr>
                    <td>Back</td>
                    <td>Bent Over Rows</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Back</td>
                    <td>Lat Pulldown</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>Biceps</td>
                    <td>Dumbbell Curls</td>
                    <td>4</td>
                    <td>10</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
