{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcade Fitness</title>

</head>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'gym/home.css' %}">
<style>
    body {
        font-family: 'Baloo Bhai 2', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        height: 1950px;
        width: 100%;
        background-image: url({% static 'gym/bg.jpg' %});
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <header>
        <div class="left">
            <img src="{% static 'gym/logo.jpg' %}" alt="">
            <h1>Arcade Fitness</h1>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li class="nav"><a href="#">Home</a></li>
                <li class="nav"><a href="#">Diet Plan</a></li>
                <li class="nav"><a href="#">About</a></li>
                <li class="nav"><a href="#">Health Calculator</a></li>
            </ul>
        </div>
        <div class="right">
            <button class="btn">Sign up</button>
            <button class="btn">Login</button>
        </div>
    </header>
    
    <div class="container">
        <h1>Contact us for information</h1>
        <form action="#">
            <div class="form-group">
                <!-- <Lable for="name">Name</Lable> -->
                <input type="text" id="name" name="name" class="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <!-- <Lable for="email">Email</Lable> -->
                <input type="email" id="email" name="email"placeholder="Enter your email">
            </div>
            <div class="form-group">
                <!-- <Lable for="phone">Phone</Lable> -->
                <input type="tel" id="phone" name="phone"placeholder="Enter your phone">
            </div>
            <div class="form-group">
                <!-- <Lable for="area">Area</Lable> -->
                <input type="text" id="area" name="area"placeholder="Enter your area">
            </div>
            <div class="form-group">
            <button class="btn" type="submit" id="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>