{% extends 'gym/basic.html' %}
{% block title %}Arcade Fitness{% endblock %}

{% block body %}
<div class="containerm">
    <h1>Contact Us</h1>
    <form action="#">
        <div class="form-group">
            <!-- <Lable for="name">Name</Lable> -->
            <input type="text" id="name" name="name" class="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <!-- <Lable for="email">Email</Lable> -->
            <input type="email" id="email" name="email"placeholder="Enter your email">
        </div>
        <div class="form-group">
            <!-- <Lable for="phone">Phone</Lable> -->
            <input type="tel" id="phone" name="phone"placeholder="Enter your phone">
        </div>
        <div class="form-group">
            <!-- <Lable for="area">Area</Lable> -->
            <input type="text" id="area" name="area"placeholder="Enter your area">
        </div>
        <div class="form-group">
        <button class="btn" type="submit" id="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}